$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

$green:             #156F78;
$purple:            #493252;
$red:               #E25440;
$slate:             #3D4260;

$primary-color:     $gray-lighter;
$secondary-color:   $gray-lightest;

$link-color:        #FF6600;
$hover-color:       darken($link-color, 5%);


$serif-font:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-font:         $serif-font;
$monospace-font:    $serif-font;

$header-font-color: $gray-lightest;
$primary-font-color: $gray-darkest;
$secondary-font-color: $gray-darkest;
$header-bg-color: $gray-darkest
